.layout {
  composes: layout from './SharedLayout.module.css';
}

.mainContent {
  composes: mainContent from './SharedLayout.module.css';
}

.container {
  composes: container from './SharedLayout.module.css';
}

.title {
  composes: title from './SharedLayout.module.css';
}

.volunteerGrid {
  composes: grid from './SharedLayout.module.css';
}

.volunteerCard {
  composes: card from './SharedLayout.module.css';
} 